   

P{ color : green; }
body{ background-color:rgb(208, 250, 249)} 
head{
  color: rgb(239, 130, 22);

}

h2{
  font-size: 3em;
  font-style: normal
}
h1{
 font-size: 6em;


}
a:link{
 text-decoration: none;
 
}
.header span {
   font-size: 1em;
   margin-left: 50px;
}
.td{
  width: 33.3%;
}
.img{
  width: 33.3%;
}
#vgi{
  width: 80%;
}

